<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-lg-2">
            <div class="row">
                <h3>P2P Lending</h3>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link active" routerLink="/user">Dashboard</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" routerLink="/sale">Token Sale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Investments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">My Loans</a>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <br />
</div>